<p class="article_info">$ wc content</p>
<p>{{ article.content|striptags|wordcount }}</p>
<p class="article_info">$ cat tags</p>
<p>{% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{tag.url }}">{{ tag }}</a> {% endfor %}{% else %}None{% endif %}</p>
