{% extends "base.html" %}
{% block title %}Archives{% endblock %}
{% block content %}
<div id="article-archives">
    <h3 class="article_title"><font color=green>guest@{{ SITENAME|lower }}</font> <font color=#D7DF01>/archive</font></h3>
    <p class="article_info">$ ls -ot</p>
    {% for article in dates %}
    -rw-r--r-- 1 {{ article.author }} {{ article.locale_date }}
    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags
        }}</a><br>
    {% endfor %}
</div>
{% endblock %}
