{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div id="article-content" class="article">
    <h3 class="article_title"><font color=green>{{ article.author }}@{{ SITENAME|lower }}</font> <font color=#D7DF01>{{ article.url }}</font></h3>
    <p class="article_info">$ date<br />{{ article.locale_date }}</p>
    <p class="article_info">$ whoami<br /><a href="{{ SITEURL }}/author/{{ article.author }}.html" title="Read other articles by this author">{{ article.author }}</a></p>
    <p class="article_info">$ ls<br />comments content tags{% if article.attachments %} attachments{% endif %}{% if article.related_posts %} related{% endif %}</p>
    <p class="article_info">$ cat content</p>
    <h2 class="title">{{ article.title }}</h2>
    {% if TWITTER_USERNAME %}{% include 'twitter.html' %}{% endif %}

    {{ article.content|safe }}
</div>
{% include '_meta.html' %}
{% if article.attachments %}
<p class="article_info">$ cat attachments</p>
<ul>
    {% for att in article.attachments|list %}
    <li id="attachment-{{ loop.index }}" class="attachment ct">
    <a href="{{ att['url'] }}" class="attachment-link">{{ att['name'] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if article.related_posts %}
<p class="article_info">$ cat related</p>
<ul>
    {% for related_post in article.related_posts %}
    <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if DISQUS_SITENAME %}
<p class="article_info">$ cat comments</p>
<div id="disqus_thread"></div>
<script type="application/javascript">
    var disqus_identifier = ({{ article.id }}) ? {{ article.id }} : "{{ article.slug }}";
</script>
<script type="application/javascript" src="http://disqus.com/forums/{{ DISQUS_SITENAME }}/embed.js"></script>
<noscript><a href="http://disqus.com/forums/{{ DISQUS_SITENAME }}/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endblock %}
