<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ SITENAME }} - {% block title %}Welcome{%endblock%}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie.css"/>
    <script src="{{ SITEURL }}/js/IE8.js" type="text/javascript"></script><![endif]-->

    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie6.css"/><![endif]-->

</head>

<body id="index" class="home">
    <div id='header'>
        <h1>
            {% if FEED_ATOM %}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate">
                <img src='{{ SITEURL }}/theme/images/icons/rss.png' width='25px' height='25px'>
            </a>
            {% else %}
            {% if FEED_RSS %}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate">
                <img src='{{ SITEURL }}/theme/images/icons/rss.png' width='25px' height='25px'>
            </a>
            {% endif %}
            {% endif %}
            <a href="http://www.python.org">
                <img src="{{ SITEURL }}/theme/images/icons/python-powered-h.png" height='25px'>
            </a>
            <a href="{{ SITEURL }}"><img src="{{ SITEURL }}/theme/images/icons/pyhacker.png" height='25px'>&nbsp;{{ SITENAME }}</a>
        </h1>
    </div>
    <div id="menu">
        <ul>
            <li class="first"><a href="{{ SITEURL }}/archives.html" title="Article archive">Archive</a></li>
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
            {% if not p.hidemenu %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div id='main'>
        <div id='columnA'>
            {% include 'adsense.html' %}
            {% block content %}
            {% endblock %}
        </div>
        <div id='columnB'>
            {% block sidebar %}
            {% block article_tags %}
            <li>
            <h2>Tag Cloud</h2>
            {% include '_tag_cloud.html' %}
            </li>
            {% endblock %}
            {% endblock %}
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div id='mainfooter'>
        {% block footer %}
        <p>
        {% if FOOTER_TEXT %}
        {{ FOOTER_TEXT }}
        {% else %}
        Powered by <a href="http://getpelican.com/">Pelican</a>.
        {% endif %}
        PyHacker theme available <a href="http://git.pyhacker.com/pelican-pyhacker">here</a>.</p>
        {% endblock %}
    </div>

{% include 'analytics.html' %}
</body>
</html>
