{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles_page.object_list %}        
        <div id='articleteaser'>
            <h3 class="article_title"><font color=green>{{ article.author }}@{{ SITENAME|lower }}</font> <font color=#D7DF01>/{{ article.url }}</font></h3>
            <p class="article_info">$ date<br />{{ article.locale_date }}</p>
            <p class="article_info">$ cat teaser<br /><font style="font-size:130%;">{{ article.title|striptags }}</font>{{ article.summary|safe }}</p>
            <p><a href="{{ SITEURL }}/{{ article.url }}" title="Read more...">Read more...</a></p> 
        </div>
        <br />
        {% if loop.last %}
            {% if loop.last and (articles_page.has_previous() 
            or not articles_page.has_previous() and loop.length > 1) %}
            {% block paginator %}
            <a href="{{ SITEURL }}/archives.html">Older articles...</a>
            {% endblock %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
