{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}        
<h3 class="article_title"><font color=green>guest@{{ SITENAME|lower }}</font>
<font color=#D7DF01>/{{ page.slug }}</font></h3>
{{ page.content }}
{% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get the pdf</a>{% endif %}
{% endblock %}
